*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9
}

header{
    background-color: white;
}

.img-align{
    vertical-align: middle;
    margin: 15px 0 15px 25px;
}

header > h1{
    display: inline-block;
    font-size: 40px;
    vertical-align: middle;
}

